@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    background-color: rgb(27, 187, 187);
    color:wheat;

    &:active, &:focus {
       outline: none;
    }

    &:hover {
        background-color:rgb(44, 129, 148);
        
    }
}