.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-column {
        background-color: rgba(225, 190, 190, 0.748);
    }
    .right-column {
        background-color: rgb(33, 35, 36);
    }
}